Body.login {
	background-color: #ffffff;
	margin: 0px;
	border: 0px;
}

body.main {
	background-color: #DFEAF5;
	margin: 0px;
	border: 0px;
}

.title {
	width: 100%;
	height: 30px;
	color: black;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
}

Body.main .subTitle {
	color: black;
	font-size: 12px;
	font-weight: bold;
}

Body.error {
	background-color: #FBF0F1;
	margin: 0px;
	border: 0px;
}

A:link {
	text-decoration: none;
	color: #161991;
}

A:visited {
	text-decoration: none;
	color: #161991;
}

A:active {
	text-decoration: none;
	color: #161991;
}

A:hover {
	text-decoration: underline;
	color: #161991;
}

A {
	font-size: 14px;
}

Form {
	margin: 0px;
	padding: 0px;
}

Img {
	border: 0px;
}

Table {
	border: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
}

Table.main {
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
}

Table.main Table {
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
}

Table.main .button {
	width: 100px;
}

Table.list {
        background-color: #ffffff;
	border: 1px;
	border-color: #adadad;
	border-style: solid;
	margin-top: 5px;
	margin-bottom: 20px;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	vertical-align: middle;
        text-align: center;
}

Table.list tr.listTop {
	height: 40px;
	background-color: #efefef;
}

Table.list tr.listTop td {
	border: 0px;
}

Table.list Tr.listTitle {
	height: 30px;
	background-color: #efefef;
}

Table.list Tr.listTitle Td {
	font-weight: bold;
        padding-left: 10px;
	padding-right: 10px;
}

Table.list Td {
	border: 1px;
	border-color: #adadad;
	border-style: solid;
	height: 25px;
	padding-left: 2px;
	padding-right: 2px;
	text-decoration: none;
}

Table.list Td .image {
	cursor: pointer;
}

.settingFlatContsDivision {
	background: url(../images/settingFlatContsDivision.gif) repeat-x bottom;
	width: 100%;
	height: 8px;
}

.settingDivision {
	background: url(../images/settingDivision.gif) repeat-x top;
	width: 100%;
	height: 8px;
}

Table.tableButton {
	border-style: solid;
	border-width: 1px;
	border-color: #8D8D8D;
	cursor: pointer;
}

Table.tableButton Td {
	height: 22px;
	font-size: 12px;
	font-weight: bold;
	padding: 0px 8px 0px 8px;
	vertical-align: middle;
	background-color: #808080;
	background-image: URL(../images/buttonBGwhite.gif);
	background-repeat: repeat-x;
	text-align: center;
	overflow: visible;
}

Table.tableButton A:hover {
	text-decoration: none;
	color: black;
}

Table.tableButton A:link {
	text-decoration: none;
	color: black;
}

Table.tableButton A:visited {
	text-decoration: none;
	color: black;
}

Table.tableButton A:active {
	text-decoration: none;
	color: black;
}

TR.example {
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
	color: #6f6f6f;
}

.pad {
	width: 280px;
}
table.logoArea
{
background-color: #ffffff;
width: 100%;
height: 58px;
margin: 0px;
}

table.logoArea td.logo
{
padding: 8px 0px 0px 15px;
background-color: #ffffff;
background-image: url(../images/logoBG.gif);
background-repeat: repeat-x;
background-position: top;
vertical-align: top;
width: 45%;
}

table.logoArea td.headerButtons
{
padding: 6px 15px 0px 0px;
background-color: #ffffff;
background-image: url(../images/headerBG.gif);
background-repeat: repeat-x;
background-position: top;
border: 0px solid #c6d5d7;
}


.headtitle
{
font-family: helvetica,arial;
font-size:20px;
font-style: normal;
font-weight: 900;
text-align: left;
vertical-align: bottom;
color: #474747;
}

.headerButtons a
{
font: normal 100% MS UI Gothic, arial, verdana, helvetica, osaka, sans-serif;
white-space: nowrap;
}

.headerButtons .user
{
font-size:10pt;
font-weight:900;
}
.menuButton {
width: 100%;
height:20px;
border-top: #aac0d6 1px solid;
border-bottom: #aac0d6 1px solid;
border-right: #aac0d6 1px solid;
border-left: #aac0d6 1px solid;
padding-top: 4px;
padding-right: 8px;
padding-left: 8px;
padding-bottom: 4px;
color: #161991;
background-color: #e9eff5;
text-align: left;
cursor: pointer;
}
.izquierda{
float: left;
}